APP_TITLE=HRSPACE Request Builder
APP_DESCRIPTION=HRSPACE Request Builder Description here
SECRET_KEY=MY_SECRET_KEY

# Application DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespw
DB_HOST=db
DB_PORT=5432
POSTGRES_DB=postgres

SERVER_HOST=localhost
